In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.simplefilter('ignore')

In [2]:
import describe as db

In [3]:
df = pd.read_csv('books.csv')
df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic,NaN

# DU

In [4]:
db.describe(df)

              variable   dtype  count  unique  missing value
0               bookID   int64  11127   11127              0
1                title  object  11127   10352              0
2              authors  object  11127    6643              0
3       average_rating  object  11127     213              0
4                 isbn  object  11127   11126              0
5               isbn13  object  11127   11127              0
6        language_code  object  11127      31              0
7            num_pages  object  11127     999              0
8        ratings_count   int64  11127    5294              0
9   text_reviews_count   int64  11127    1822              0
10    publication_date  object  11127    3682              0
11           publisher  object  11127    2294              0
12         Unnamed: 12  object  11127       5          11123

In [5]:
df.columns.tolist()

['bookID',
 'title',
 'authors',
 'average_rating',
 'isbn',
 'isbn13',
 'language_code',
 '  num_pages',
 'ratings_count',
 'text_reviews_count',
 'publication_date',
 'publisher',
 'Unnamed: 12']

In [6]:
df.rename(columns={'  num_pages':'num_pages'},inplace=True)

In [7]:
df.shape

(11127, 13)

In [8]:
df['Unnamed: 12'].unique()

array([nan, 'Harvard University Press', 'Cold Spring Press',
       'Huntington House Publishers', 'Brown Son & Ferguson Ltd.'],
      dtype=object)

In [9]:
df['Unnamed: 12'].dropna()

3348       Harvard University Press
4702              Cold Spring Press
5877    Huntington House Publishers
8979      Brown Son & Ferguson Ltd.
Name: Unnamed: 12, dtype: object

In [10]:
df.loc[[3348,4702,5877,8979 ]]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
3348,12224,Streetcar Suburbs: The Process of Growth in Bo...,Sam Bass Warner,Jr./Sam B. Warner,3.58,674842111,9.78067E+12,en-US,236,61,6,4/20/2004,Harvard University Press
4702,16914,The Tolkien Fan's Medieval Reader,David E. Smith (Turgon of TheOneRing.net,one of the founding members of this Tolkien w...,3.58,1593600119,9.78159E+12,eng,400,26,4,4/6/2004,Cold Spring Press
5877,22128,Patriots (The Coming Collapse),James Wesley,Rawles,3.63,156384155X,9.78156E+12,eng,342,38,4,1/15/1999,Huntington House Publishers
8979,34889,Brown's Star Atlas: Showing All The Bright Sta...,Brown,Son & Ferguson,0,851742718,9.78085E+12,eng,49,0,0,5/1/1977,Brown Son & Ferguson Ltd.

In [11]:
df['language_code'].unique()

array(['eng', 'en-US', 'fre', 'spa', 'en-GB', 'mul', 'grc', 'enm',
       'en-CA', 'ger', 'jpn', 'ara', 'nl', 'zho', 'lat', 'por', 'srp',
       '9.78067E+12', 'ita', '9.78159E+12', 'rus', '9.78156E+12', 'msa',
       'glg', 'wel', 'swe', 'nor', '9.78085E+12', 'tur', 'gla', 'ale'],
      dtype=object)

In [12]:
df['language_code'].value_counts()

eng            8908
en-US          1408
spa             218
en-GB           214
fre             144
ger              99
jpn              46
mul              19
zho              14
grc              11
por              10
en-CA             7
ita               5
lat               3
enm               3
rus               2
swe               2
ara               1
wel               1
gla               1
tur               1
9.78085E+12       1
nor               1
9.78156E+12       1
glg               1
msa               1
nl                1
9.78159E+12       1
9.78067E+12       1
srp               1
ale               1
Name: language_code, dtype: int64

In [13]:
df.duplicated().sum()

0

# DP

In [14]:
df.loc[3348, ['authors','average_rating', 'isbn13', 'language_code', 
              'num_pages','ratings_count','text_reviews_count' ,'publication_date', 'publisher']] = ['Sam Bass Warner',
    3.58,  '674842111', 'eng', 236, 61, 6, '4/20/2004', 'Harvard University Press']

In [15]:
df.loc[4702, ['authors','average_rating', 'isbn13', 'language_code', 
              'num_pages','ratings_count','text_reviews_count' ,'publication_date', 'publisher']] = ['David E. Smith',
    3.58,  '9781593600112', 'eng', 400, 26, 4, '4/6/2004', 'Cold Spring Press']

In [16]:
df.loc[5877, ['authors','average_rating', 'isbn13', 'language_code', 
              'num_pages','ratings_count','text_reviews_count' ,'publication_date', 'publisher']] = ['James Wesley Rawles',
    3.63, '9.78156E+12', 'eng', 342, 38, 4, '1/15/1999', 'Huntington House Publishers']

In [17]:
df.loc[8979, ['authors','average_rating', 'isbn13', 'language_code', 
              'num_pages','ratings_count','text_reviews_count' ,'publication_date', 'publisher']] = ['Brown,Son & Ferguson',
    0, '9.78085E+12', 'eng', 49, 0, 0, '5/1/1977', 'Brown Son & Ferguson Ltd']

In [18]:
df['average_rating']=df['average_rating'].astype(float)

In [19]:
df.loc[[3348,4702,5877,8979 ]]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
3348,12224,Streetcar Suburbs: The Process of Growth in Bo...,Sam Bass Warner,3.58,3.58,674842111,eng,236,61,6,4/20/2004,Harvard University Press,Harvard University Press
4702,16914,The Tolkien Fan's Medieval Reader,David E. Smith,3.58,3.58,9781593600112,eng,400,26,4,4/6/2004,Cold Spring Press,Cold Spring Press
5877,22128,Patriots (The Coming Collapse),James Wesley Rawles,3.63,3.63,9.78156E+12,eng,342,38,4,1/15/1999,Huntington House Publishers,Huntington House Publishers
8979,34889,Brown's Star Atlas: Showing All The Bright Sta...,"Brown,Son & Ferguson",0.00,0,9.78085E+12,eng,49,0,0,5/1/1977,Brown Son & Ferguson Ltd,Brown Son & Ferguson Ltd.

In [20]:
df.drop(columns=['Unnamed: 12'],inplace=True)

In [21]:
df['num_pages']=df['num_pages'].astype(int)

In [22]:
df['authors'] = df['authors'].str.replace('/', ', ')

In [23]:
df['publisher'] = df['publisher'].str.replace('.', '', regex=False)

In [24]:
df['publication_year'] = pd.to_datetime(df['publication_date'], errors='coerce').dt.year

In [25]:
df['publication_year'] = pd.to_numeric(df['publication_year'], errors='coerce').astype('Int64')

In [26]:
df['average_rating_cat']=pd.cut(df['average_rating'],bins=[-1,1,2,3,4,5],
                       labels=['worst','bad','average','good','excellent'])

In [27]:
df['ratings_count_cat']=pd.cut(df['ratings_count'],bins=[-1,1000000,2000000,3000000,4000000,5000000],
                       labels=['very low','low','normal','high','very high'])

In [28]:
df['page_category'] = pd.cut(df['num_pages'], bins=[-1, 100, 500, 1000, 7000],
                             labels=['Short', 'Medium', 'Long', 'Very Long'])

In [29]:
df["author_publisher_year"] = (
    df["authors"] + " , " +
    df["publisher"] + ", " +
    df['publication_year'].astype(str) + ", " +
    df['ratings_count_cat'].astype(str) + ", " +
    df['page_category'].astype(str) + ", " +
    df['average_rating_cat'].astype(str) + ", " +
    df['language_code']
)

In [31]:
df['author_publisher_year'].head()

0    J.K. Rowling, Mary GrandPré , Scholastic Inc, ...
1    J.K. Rowling, Mary GrandPré , Scholastic Inc, ...
2    J.K. Rowling , Scholastic, 2003, very low, Med...
3    J.K. Rowling, Mary GrandPré , Scholastic Inc, ...
4    J.K. Rowling, Mary GrandPré , Scholastic, 2004...
Name: author_publisher_year, dtype: object

In [32]:
df=df.drop(columns=['publication_year','average_rating_cat','ratings_count_cat','page_category'])

In [33]:
db.describe(df)

                 variable    dtype  count  unique  missing value
0                  bookID    int64  11127   11127              0
1                   title   object  11127   10352              0
2                 authors   object  11127    6643              0
3          average_rating  float64  11127     209              0
4                    isbn   object  11127   11126              0
5                  isbn13   object  11127   11127              0
6           language_code   object  11127      27              0
7               num_pages    int32  11127     997              0
8           ratings_count    int64  11127    5294              0
9      text_reviews_count    int64  11127    1822              0
10       publication_date   object  11127    3679              0
11              publisher   object  11127    2285              0
12  author_publisher_year   object  11127   10679              0

In [34]:
df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,author_publisher_year
0,1,Harry Potter and the Half-Blood Prince (Harry ...,"J.K. Rowling, Mary GrandPré",4.57,439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc,"J.K. Rowling, Mary GrandPré , Scholastic Inc, ..."
1,2,Harry Potter and the Order of the Phoenix (Har...,"J.K. Rowling, Mary GrandPré",4.49,439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc,"J.K. Rowling, Mary GrandPré , Scholastic Inc, ..."
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic,"J.K. Rowling , Scholastic, 2003, very low, Med..."
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,"J.K. Rowling, Mary GrandPré",4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc,"J.K. Rowling, Mary GrandPré , Scholastic Inc, ..."
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,"J.K. Rowling, Mary GrandPré",4.78,439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic,"J.K. Rowling, Mary GrandPré , Scholastic, 2004..."

# M

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec = TfidfVectorizer()
feature_vectors = vec.fit_transform(df['author_publisher_year'])
print(feature_vectors[0])

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10 stored elements and shape (1, 10075)>
  Coords	Values
  (0, 2790)	0.07143810327318503
  (0, 2908)	0.10840480874039247
  (0, 5538)	0.16677571837593466
  (0, 6747)	0.46298119079028144
  (0, 76)	0.1682687403959053
  (0, 4405)	0.31639424956443946
  (0, 8114)	0.31815264399702226
  (0, 3613)	0.48940523893299187
  (0, 5922)	0.31860063245439346
  (0, 7853)	0.4126919258329741

In [41]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(feature_vectors)
print(similarity[0])

[1.         0.96696345 0.49291595 ... 0.00737638 0.00694643 0.03028397]

In [42]:
print(similarity.shape)

(11127, 11127)

In [43]:
list_of_books = df['title'].tolist()
print(list_of_books[0:10])

['Harry Potter and the Half-Blood Prince (Harry Potter  #6)', 'Harry Potter and the Order of the Phoenix (Harry Potter  #5)', 'Harry Potter and the Chamber of Secrets (Harry Potter  #2)', 'Harry Potter and the Prisoner of Azkaban (Harry Potter  #3)', 'Harry Potter Boxed Set  Books 1-5 (Harry Potter  #1-5)', 'Unauthorized Harry Potter Book Seven News: "Half-Blood Prince" Analysis and Speculation', 'Harry Potter Collection (Harry Potter  #1-6)', "The Ultimate Hitchhiker's Guide: Five Complete Novels and One Story (Hitchhiker's Guide to the Galaxy  #1-5)", "The Ultimate Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy  #1-5)", "The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy  #1)"]

In [45]:
book_name = input('Enter any book name: ')

Enter any book name: Harry Potter and the Half-Blood Prince (Harry Potter  #6)

In [46]:
import difflib
close_match = difflib.get_close_matches(book_name,list_of_books)
print(close_match)

['Harry Potter and the Half-Blood Prince (Harry Potter  #6)', 'Harry Potter and the Half-Blood Prince (Harry Potter  #6)', "Harry Potter and the Philosopher's Stone (Harry Potter  #1)"]

In [47]:
close_one = close_match[0]
print(close_one)

Harry Potter and the Half-Blood Prince (Harry Potter  #6)

In [48]:
index_of_book = df[df.title == close_one]['bookID'].index[0]
print(index_of_book)

0

In [49]:
similarity_score = list(enumerate(similarity[index_of_book]))
print(similarity_score[0:10])

[(0, 1.0000000000000002), (1, 0.9669634492667417), (2, 0.4929159484757266), (3, 0.9497568557519156), (4, 0.7786166700115696), (5, 0.0), (6, 0.5213321329567024), (7, 0.05989305616615425), (8, 0.05824090276383452), (9, 0.02354303123886186)]

In [50]:
len(similarity_score)

11127

In [51]:
sorted_similar_books = sorted(similarity_score,key=lambda x:x[1],reverse=True)
print(sorted_similar_books[0:10])

[(0, 1.0000000000000002), (1, 0.9669634492667417), (3, 0.9497568557519156), (4416, 0.814561871893382), (4, 0.7786166700115696), (6, 0.5213321329567024), (2, 0.4929159484757266), (8876, 0.45512224240746024), (615, 0.3714933147977004), (307, 0.35114124997377594)]

In [52]:
li =[]
for i in sorted_similar_books:
    li.append(i[0])
    if len(li)==10:
        break

In [53]:
li

[0, 1, 3, 4416, 4, 6, 2, 8876, 615, 307]

In [54]:
df1=pd.DataFrame({})
for z in li:
     df1[z]=(df.loc[z][['bookID','title','isbn','language_code']])

In [55]:
df1.T.set_index('bookID')

,title,isbn,language_code
bookID,,,
1,Harry Potter and the Half-Blood Prince (Harry ...,439785960,eng
2,Harry Potter and the Order of the Phoenix (Har...,439358078,eng
5,Harry Potter and the Prisoner of Azkaban (Harr...,043965548X,eng
15881,Harry Potter and the Chamber of Secrets (Harry...,439064864,eng
8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,439682584,eng
10,Harry Potter Collection (Harry Potter #1-6),439827604,eng
4,Harry Potter and the Chamber of Secrets (Harry...,439554896,eng
34318,Harry Potter and the Sorcerer's Stone (Harry P...,786222727,eng
2005,Harry Potter and the Half-Blood Prince (Harry ...,747584664,eng
960,Angels & Demons (Robert Langdon #1),1416524797,eng